@page "/todolists"

<PageTitle>Todo Lists</PageTitle>

<UseGetTodoLists Context="result">
    <ChildContent>
        <ul>
            @foreach (var item in result.TodoLists!.Items!)
            {
                <li>@item.Title (@item.Id)</li>
            }
        </ul>
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br />
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        Loading ...
    </LoadingContent>
</UseGetTodoLists>
